In [189]:
import pandas as pd
import numpy as np

In [190]:
df  = pd.read_csv("store_data.csv",header = None)
df.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [191]:
df = df.fillna(0)
ItemList = set(np.concatenate(df.values))
marketData = pd.DataFrame(columns =ItemList)
marketData.drop(0, axis = 1, inplace = True)

In [194]:
list(marketData.columns)

['turkey',
 'salt',
 'parmesan cheese',
 'asparagus',
 'light cream',
 'whole wheat pasta',
 'fresh tuna',
 'magazines',
 'butter',
 'salad',
 'french fries',
 'light mayo',
 'yogurt cake',
 'whole weat flour',
 'burgers',
 'chocolate bread',
 'dessert wine',
 'babies food',
 'salmon',
 'extra dark chocolate',
 'corn',
 'pet food',
 'cottage cheese',
 'milk',
 'bramble',
 'pancakes',
 'brownies',
 'mint green tea',
 'energy drink',
 'zucchini',
 'escalope',
 'low fat yogurt',
 'strawberries',
 'nonfat milk',
 'gluten free bar',
 'barbecue sauce',
 'pasta',
 'sandwich',
 'cauliflower',
 'champagne',
 'eggs',
 'herb & pepper',
 'cream',
 'bug spray',
 'fresh bread',
 'chutney',
 'carrots',
 'ham',
 'pepper',
 'grated cheese',
 'frozen vegetables',
 'shallot',
 'black tea',
 'protein bar',
 'muffins',
 'candy bars',
 'almonds',
 'avocado',
 'hand protein bar',
 'pickles',
 'melons',
 'tomato sauce',
 'strong cheese',
 'burger sauce',
 'cookies',
 'whole wheat rice',
 'red wine',
 'shrimp',
 'bacon',
 'blueberries',
 'hot dogs',
 'flax seed',
 'spinach',
 'clothes accessories',
 'sparkling water',
 'mineral water',
 'cereals',
 'white wine',
 'tea',
 'napkins',
 'fromage blanc',
 'green beans',
 'green tea',
 'chocolate',
 'mint',
 'cooking oil',
 'soup',
 'oil',
 'mayonnaise',
 'tomato juice',
 'yams',
 'rice',
 'eggplant',
 'toothpaste',
 'gums',
 'antioxydant juice',
 'vegetables mix',
 'water spray',
 'honey',
 'cider',
 'energy bar',
 'mashed potato',
 'tomatoes',
 'soda',
 'french wine',
 'mushroom cream sauce',
 'meatballs',
 'olive oil',
 'chicken',
 'shampoo',
 'frozen smoothie',
 'spaghetti',
 'ketchup',
 'cake',
 ' asparagus',
 'oatmeal',
 'green grapes',
 'chili',
 'body spray',
 'ground beef']

In [196]:
for item in ItemList:
    col_val = []
    x = str(item).strip()
    for i in range(len(df.values)):
        if (x in df.values[i]):
            col_val.append(1)
        else:
            col_val.append(0)
    marketData[item] = col_val

In [197]:
from mlxtend.frequent_patterns import apriori, association_rules

In [198]:
#apriori?

In [199]:
freq_itemsets = apriori(marketData, min_support=0.01,use_colnames=True)

In [200]:
marketData.drop(0,inplace= True)

In [201]:
freq_itemsets.sort_values(by = 'support', ascending= False)

      support                                  itemsets
45   0.238368                           (mineral water)
25   0.179709                                    (eggs)
71   0.174110                               (spaghetti)
7    0.170911                            (french fries)
50   0.163845                               (chocolate)
..        ...                                       ...
255  0.010265     (olive oil, spaghetti, mineral water)
240  0.010132  (french fries, mineral water, spaghetti)
221  0.010132                         (chocolate, soup)
250  0.010132        (mineral water, eggs, ground beef)
148  0.010132       (frozen vegetables, low fat yogurt)

[257 rows x 2 columns]

In [202]:
#assoiciation_rules?

In [216]:
#rules = association_rules(freq_itemsets,metric = 'lift',min_threshold = 0.2)
rules = association_rules(freq_itemsets,metric = 'support',min_threshold = 0.2)

In [217]:
#https://medium.com/analytics-vidhya/association-analysis-in-python-2b955d0180c

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []

In [215]:

#rules[rules['lift']>1.1 & rules['confidence']>0.2]

rules[(rules['lift'] > 1.1) & (rules['confidence'] > 0.2)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
6,(turkey),(eggs),0.062525,0.179709,0.019464,0.311301,1.732245,0.008228,1.191072
8,(turkey),(mineral water),0.062525,0.238368,0.019197,0.307036,1.288075,0.004293,1.099093
14,(turkey),(spaghetti),0.062525,0.174110,0.016531,0.264392,1.518535,0.005645,1.122731
17,(burgers),(french fries),0.087188,0.170911,0.021997,0.252294,1.476173,0.007096,1.108844
21,(pancakes),(french fries),0.095054,0.170911,0.020131,0.211781,1.239135,0.003885,1.051852
...,...,...,...,...,...,...,...,...,...
420,"(olive oil, spaghetti)",(mineral water),0.022930,0.238368,0.010265,0.447674,1.878079,0.004799,1.378954
421,"(olive oil, mineral water)",(spaghetti),0.027596,0.174110,0.010265,0.371981,2.136468,0.005460,1.315071
426,"(mineral water, spaghetti)",(ground beef),0.059725,0.098254,0.017064,0.285714,2.907928,0.011196,1.262445
427,"(mineral water, ground beef)",(spaghetti),0.040928,0.174110,0.017064,0.416938,2.394681,0.009938,1.416470
428,"(spaghetti, ground beef)",(mineral water),0.039195,0.238368,0.017064,0.435374,1.826477,0.007722,1.348914